<div class="content" role="main">
<h1>Edit user</h1>
    <div *ngIf="isLoaded">
        <div>
            <label>Username</label>
            <input type="text" id="username" [(ngModel)]="usr.username">
        </div>
        <div>
            <label>Email</label>
            <input type="email" id="email" [(ngModel)]="usr.email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" id="password" [(ngModel)]="usr.password">
        </div>

        <button (click)="updateUser()">UPDATE</button>
    </div>

</div>